@font-face {
    font-family: Atkinson_Hyperlegible;
    src: url(../font/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
    font-family: STIX_Two_Text;
    src: url(../font/STIX_Two_Text/STIXTwoText-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Atkinson_Hyperlegible;
    padding-top: 63px;
    overflow-x: hidden;
}

.navbar, footer {
    font-family: STIX_Two_Text;
}