$green-first: #164863;
$green-second: #427D9D;
$green-third: #9BBEC8;
$green-fourth: #DDF2FD;
$yellow: #ECF4D6;
$font-family: "$font-family";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $green-fourth;
    background-color: $green-first;
    padding: 0 5em;
    font-family: $font-family;
    text-transform: uppercase;

    @media (max-width: 768px) {
        padding: 0 3em;
    }

    .header-title {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .menu-container {
        display: flex;
        align-items: center;
        letter-spacing: .5px;
        font-size: 13px;

        .desktop-menu {
            font-family: $font-family;
            display: flex;
            background-color: $green-first;
            color: $green-fourth;
            font-size: 13px;
            letter-spacing: 1px;

            @media (max-width: 768px) {
                display: none;
            }

            .ant-menu-item {
                margin-right: 1px;

                &.ant-menu-item-selected {
                    color: $yellow;
                    font-weight: 600;
                }

                &.ant-menu-item-selected::after {
                    border-bottom-color: $yellow;
                }

                &:hover {
                    color: $yellow;
                }

            }
        }
    
        .mobile-menu-icon {
            display: none;
            background-color: #fff;
            color: #164863;
    
            @media (max-width: 768px) {
                display: block;
            }
        }

        .mobile-menu-icon:hover {
            color: #164863;
            border: 1px solid $green-second;
        }
    
        .mobile-menu {
            @media (min-width: 769px) {
                display: none;
            }

            .ant-menu-item {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
}
